# ==========================
# General OS files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# IntelliJ IDEA
# ==========================
.idea/
*.iml
*.iws
out/
*.ipr

# ==========================
# Java
# ==========================
*.class
*.jar
*.war
*.ear
*.log
hs_err_pid*
*.class

# ==========================
# Gradle
# ==========================
.gradle/
build/
!gradle-wrapper.jar
gradle-wrapper.properties
gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.jar
.gradle/
build/
!gradle-wrapper.jar

# ==========================
# Android
# ==========================
*.apk
*.ap_ 
*.dex
*.class
*.so
*.db
*.sqlite
/build/
.cxx/
.externalNativeBuild/
captures/
output.json
local.properties
*.keystore
*.jks
*.log

# ==========================
# Misc
# ==========================
*.swp
*~ 
*.tmp
